
body {
    font-family: Poppins, Arial, sans-serif;
    background-color: #f0f2f5;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}


input[type="text"] {
    padding: 20px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#addTask {
    font-family: Poppins;
    padding: 10px 15px;
    margin-left: 10px;
    background-color: #24f92b;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addTask:hover {
    background-color: #2b782f;
}


ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


button.delete, button.edit {
    font-family: Poppins, Arial;
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    
}

button.delete {
    background-color: #0873d0;
    color: white;
}

button.delete:hover {
    background-color: #1523e8;
}

button.edit {
    background-color: #3498db;
    color: white;
}

button.edit:hover {
    background-color: #2980b9;
}

/* Textarea for editing */
textarea {
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}
